// to avoid content reflow, a size needs to be set: https://css-tricks.com/preventing-content-reflow-from-lazy-loaded-images/
img 
    display block
img.ng-lazyloaded
    animation fadein .5s;

    @keyframes fadein
        from
            opacity: 0
        to
            opacity 1