#body
    position absolute
    width 100px
    height 100vh
    top 0
    right 0
    overflow hidden

#marker
    position absolute
    width 50%
    left 50%
    height 1px
    background-color darkblue 