<div #body>
    <cdk-virtual-scroll-viewport [itemSize]="tileDimension.height">
        <div class="date-block" *cdkVirtualFor="let dm of timeline | keyvalue: asIsOrder">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px grid">
                <date-tile [date]="dm.key"></date-tile>
                <lazy-loading-image-tile
                    [metadata]="v"
                    *ngFor="let v of dm.value"
                ></lazy-loading-image-tile>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>

    <time-scrollbar></time-scrollbar>
</div>