cdk-virtual-scroll-viewport
    height 100vh
    width 100vw

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

cdk-virtual-scroll-viewport::-webkit-scrollbar
    /* WebKit */
    width: 0;
    height: 0;

.date-block
    display inline-block
    padding-left 20px
    padding-right 20px