@keyframes slideInFromLeft {
  0% {
    background-color rgba(0,0,0, 0) /* Black w/opacity */
  }
  100% {
    background-color rgba(0,0,0, 0.8) /* Black w/opacity */
  }
}

.timeshow
  height 25%
  width 50%
  position fixed /* Stay in place */
  z-index 1 /* Sit on top */
  left 25%
  top 32%
  border-radius 10px
  background-color rgb(0,0,0) /* Black fallback color */
  background-color rgba(0,0,0, 0.8) /* Black w/opacity */
  overflow-x hidden /* Disable horizontal scroll */
  animation 0.1s ease-out 0s 1 slideInFromLeft

  p
    margin 50px 0 0 50px
    font-size 8rem
    color white