.timeshow
  position absolute
  right 25px

.timeshowbox
  position: relative;
  width: 150px;
  height: 40px;
  background-color: black;
  color: #fff;

.timeshowbox.arrow-right:after
  content: " ";
  position: absolute;
  right: -5px;
  top: 10px;
  border-top: 5px solid transparent;
  border-right: none;
  border-left: 5px solid black;
  border-bottom: 5px solid transparent;